<input type="text" ng-model="searchText" placeholder="Enter to Search">
<table style="border: 1px solid black">
        <thead>
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Second Name</th>
                <th>Phone Number</th>
                <th>Favorite</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="contact in $ctrl.contacts | filter:search">
                <td><input type="checkbox" ng-model="contact.isRemove"> </td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.secondName }}</td>
                <td>{{ contact.phone }}</td>
                <td><input type="checkbox" ng-model="contact.favorite"> </td>
                <td>
                    <a ng-href="#!editContact/{{ contact.id }}" >edit</a> |
                    <a href="#" ng-click="delete(contact.id)">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
          <input type="button" value="Remove" ng-click="removeList()" />
    <a type="button" href="#!editContact/undefine">Add</a> 